<%include ./partials/header.ejs %>
  <!-- Form for registration route -->
  <div class="container">
    <div class="row">

<div class="col-lg-10 col-md-10 col-sm-10 mx-auto ">
    <h1 class="text-info ">Admin </h1>

    <div class="table-responsive" id="userDetails">
      <table class="table">
        <caption>List of users</caption>
        <thead  class="thead-dark">

          <tr>
            <th scope="col">#</th>
            <th scope="col">Users</th>
            <th scope="col">Last logged In</th>
            <th scope="col">Admin Rights</th>
            <th scope="col"> Link</th>
          </tr>
        </thead>
        <tbody>
          <%  let counter = 1; %>
            <% result.forEach((userInfo)=>{ %>

              <tr>
                <th scope="row">
                  <%= counter++ %>
                </th>
                <td>
                  <%=userInfo.username %>
                </td>
                <td>
                  <%= userInfo.last_login_date.toLocaleTimeString().substring(0,8) %>,
                    <%= userInfo.last_login_date.toLocaleDateString("en-GB",{ weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) %>
                </td>
                <td>
                  <% if(userInfo.isAdmin){ %>
                    True
                    <%  }else{ %>
                      False
                      <%  }%>

                </td>
                <td>
                  <span>  <a href="/admin/<%= userInfo._id %>/details" role="button">Check Detail</a></span>
                </td>

              </tr>
              <%  }) %>
        </tbody>
      </table>
    </div>
  </div>

  <%include ./partials/footer.ejs %>
